@import "tailwindcss";

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-layout {
  display: flex;
  flex-grow: 1;
  padding-top: 40px; /* Height of the navbar */
  box-sizing: border-box;
}

.content {
  flex-grow: 1;
  overflow-y: auto; /* Allow content to scroll */
}
